* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter";
}
:root {
  --index: calc(1vw+1vh);
  --mw: 1920px;
}
::-webkit-scrollbar {
  width: 0;
}
body {
  background-color: #000000;
  color: #ffffff;
  font-size: calc(var(--index) * 1.3);
  line-height: 1.75;
  height: 4000px;
}

.header-nav {
  max-width: var(--mw);
  margin: 0 auto;
  width: 100%;
  padding: 20px 110px;
  display: flex;
  justify-content: space-between;
  position: fixed;
  z-index: 99;
}
.header-nav__list {
  display: flex;
  list-style: none;
  margin-right: 95px;
}
.header-nav__list a {
  position: relative;
  text-decoration: none;
  color: #ffffff;
}
.header-nav__list li {
  margin: 0 25px;
  position: relative;
}
.header-nav__list li::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background: #ffffff;
  border-radius: 6px;
  left: 0;
  bottom: -6px;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform.7s;
}
.header-nav__list li:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}
.header-nav__login {
  padding: 7px 22px;
  background-color: transparent;
  color: #ffffff;
  border: 1px solid #d9d9d9;
  cursor: pointer;
  transition: 0.5s;
}
.header-nav__login:hover {
  background: #d9d9d9;
  color: #000000;
  transition: 0.5s;
}
.header-nav__item {
  display: flex;
  align-items: center;
}

.burger {
  display: none;
  top: 5%;
  right: 3%;
  transform: translate(-50%, -50%);
  position: fixed;
  width: 45px;
  cursor: pointer;
  z-index: 999;
}

.burger:before,
.burger:after,
.burger div {
  background: linear-gradient(104.83deg, #8b39ff -2.14%, #09929b 100.36%);
  content: "";
  display: block;
  height: 6px;
  border-radius: 3px;
  margin: 7px 0;
  transition: 0.5s;
}
.burger.open:before {
  transform: translateY(12px) rotate(135deg);
}
.burger.open:after {
  transform: translateY(-12px) rotate(-135deg);
}
.burger.open div {
  transform: scale(0);
}
.header-nav-mob {
  position: fixed;
  width: 100vw;
  height: 100vh;
  right: 0;
  top: 0;
  display: block;
  font-size: 1rem;
  padding: 35px;
  transform: translateY(-800px);
  background: linear-gradient(104.83deg, #8b39ff -2.14%, #09929b 100.36%);
  transition: 0.5s;
}
.header-nav-mob.open {
  transform: translateY(0);
  transition: 0.5s;
}
.header-nav__list-mob {
  list-style: none;
}
.header-nav__list-mob a {
  color: #ffffff;
  text-decoration: none;
  margin: 20px;
}

.navigation {
  position: fixed;
  top: 30%;
  z-index: 999;
}
.navigation ul {
  list-style: none;
  width: 1%;
}
.navigation li {
  cursor: pointer;
  height: 12px;
  margin: 15px 0;
}
.navigation li::before {
  content: "";
  display: block;
  position: relative;
  width: 5px;
  height: 5px;
  border: 1px solid #d9d9d9;
  border-radius: 100%;
  background-color: #ffffff;
  transition: 0.5s;
}
.navigation li.isActive::before {
  content: "";
  display: block;
  position: relative;
  width: 15px;
  height: 15px;
  border: 1px solid #d9d9d9;
  border-radius: 100%;
  background-color: #ffffff;
  margin-left: -5px;
  transition: 0.5s;
}
.container {
  max-width: var(--mw);
  margin: 0 auto;
  padding: 20px 110px;
  height: 100%;
  width: 100%;
  padding-top: 55px;
  position: fixed;
  perspective: 1500px;
}

.second-item {
  display: flex;
  justify-content: space-evenly;
  /* align-items: center; */
}
.second-item__titles {
  text-align: start;
}
.second-item__titles ul {
  list-style: none;
}
.second-item__titles li.active {
  font-weight: 800;
  font-size: 32px;
  background: linear-gradient(4.83deg, #8b39ff -2.14%, #09929b 100.36%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  margin-left: 32px;
  transition: 0.7s;
}
.second-item__titles li {
  font-weight: 800;
  font-size: 32px;
  background: linear-gradient(4.83deg, #8b39ff -2.14%, #09929b 100.36%);
  color: #000000;
  -webkit-background-clip: text;
  -webkit-text-stroke: 2px transparent;
  background-clip: text;
  margin-left: 32px;
  margin-top: 25px;
  cursor: pointer;
  transition: 0.7s;
}
.second-item__titles li {
  font-weight: 800;
  font-size: 32px;
  line-height: 39px;
  margin-left: 32px;
}
.second-item__titles span {
  font-weight: 300;
  font-size: 14px;
  background: linear-gradient(104.83deg, #8b39ff -2.14%, #09929b 100.36%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: absolute;
  transform: rotate(-90deg);
}
.second-item__titles p {
  margin-left: 30px;
}

.second-item__contents {
  max-width: 30%;
}
.second-item__content {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  display: none;
}
.second-item__content.active {
  display: flex;
  text-align: start;
}
.tree-item {
  display: flex;
  justify-content: space-around;
}
.tree-item__text {
  max-width: 30%;
}
.tree-item__text h2 {
  font-weight: 800;
  font-size: 56px;
  line-height: 100%;
  color: #ffffff;
  margin-bottom: 20px;
}
.tree-item__text p {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #ffffff;
}
.fouth-item img {
  margin: 10px;
}
.fouth-item h3 {
  font-weight: 800;
  font-size: 56px;
  line-height: 68px;
  color: #000000;
  margin-bottom: 30px;
}
.navigation.black li::before {
  content: "";
  display: block;
  position: relative;
  width: 5px;
  height: 5px;
  border: 1px solid #d9d9d9;
  border-radius: 100%;
  background-color: #000000;
}
.fouth-item__docs {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.navigation.black li.isActive::before {
  content: "";
  display: block;
  position: relative;
  width: 15px;
  height: 15px;
  border: 1px solid #d9d9d9;
  border-radius: 100%;
  background-color: #000000;
  margin-left: -5px;
}
.fifth-item {
  position: relative;
  left: 15%;
  max-width: 75%;
}
.fifth-item h3 {
  font-weight: 800;
  font-size: 56px;
  line-height: 68px;
  color: #ffffff;
  margin-left: -30px;
  margin-bottom: 30px;
}
.fifth-item li {
  margin-bottom: 30px;
  font-weight: 400;
  font-size: 24px;
  line-height: 150%;
}
.fifth-item ol {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.fifth-item li {
  position: relative;
}
.sixth-item {
  position: relative;
  left: 5%;
}
.sixth-item h3 {
  font-weight: 800;
  font-size: 56px;
  line-height: 68px;
  color: #000000;
  margin-bottom: 30px;
}
.sixth-item p {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #000000;
}
.sixth-item__docs {
  max-width: 90%;
  display: flex;
  justify-content: space-between;
}
.sixth-item__doc {
  cursor: pointer;
}
.seventh-item h3 {
  font-weight: 800;
  font-size: 56px;
  line-height: 68px;
  color: #000000;
}
.seventh-item h3 {
  position: relative;
  margin-bottom: 30px;
}
.seventh-item p {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #545454;
}
.seventh-item {
  max-width: 60%;
  margin: 0 auto;
  left: 5%;
}
.eight-item {
  display: flex;
  justify-content: space-around;
}
.eight-item h3 {
  font-weight: 800;
  font-size: 56px;
  line-height: 100%;
  color: #000000;
  margin-bottom: 30px;
}
.eight-item p {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #545454;
}
.eight-item__left {
  max-width: 40%;
}
.eight-item__right {
  width: 40%;
}
.eight-item__right button {
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  text-transform: uppercase;
  color: #000000;
  background: transparent;
  border: none;
  cursor: pointer;
  margin-left: 50%;
  margin-top: 30px;
}
input[type="text"] {
  border: none;
  padding: 15px;
  font-weight: 200;
  font-size: 14px;
  line-height: 150%;
  color: #000000;
  border-bottom: 1px solid #000000;
  width: 100%;
}
input[type="text"]:focus {
  outline: none;
}
.footer {
  position: absolute;
  bottom: -80%;
  left: 7%;
  width: 95%;
}
.footer p {
  font-weight: 200;
  font-size: 18px;
  line-height: 29px;
  color: #ffffff;
}
.footer a {
  text-decoration: none;
  margin-right: 15%;
}
.footer-item {
  display: flex;
  margin-top: 50px;
  margin-bottom: 40px;
}
summary {
  list-style: none;
  font-weight: 800;
  font-size: 1.2rem;
  background: linear-gradient(4.83deg, #8b39ff -2.14%, #09929b 100.36%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  margin: 20px 0;
}
/* .mobile-container {
  display: none;
  max-width: 720px;
  margin: 0 auto;
} */
.mobile-container h2,
.mobile-container h3 {
  font-size: 1.5rem;
}
.mobile-container p {
  font-size: 1rem;
}
.mobile-first {
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.mobile-first p {
  margin-top: 50px;
}
.mobile-video {
  margin-bottom: 70px;
  margin-top: 30px;
  text-align: center;
}
.mobile-second {
  margin-bottom: 95px;
}
.mobilde-three {
  margin-bottom: 80px;
  background-color: #ffffff;
}
.mobilde-three h3,
.mobilde-three p {
  color: #000000;
}
.mobilde-three div {
  text-align: center;
}
.mobile-fourth {
  margin-bottom: 70px;
}
.mobile-fourth ol {
  font-size: 1rem;
}
.mobile-fourth li {
  margin: 10px 0;
}
.mobile-fifth div {
  text-align: center;
  margin: 10px 0;
}
.mobile-fifth {
  padding: 40px 0;
  margin-bottom: 55px;
  background-color: #ffffff;
}
.mobile-fifth h3 {
  color: #000000;
}
.mobile-sexth {
  background: linear-gradient(104.83deg, #8b39ff -2.14%, #09929b 100.36%);
  padding: 40px 0;
  margin-bottom: 60px;
}

.mobile-seventh {
  background-color: #ffffff;
  padding: 70px 0;
}
.mobile-seventh h3,
.mobile-seventh p {
  color: #000000;
}
.mobile-seventh form {
  margin-top: 50px;
}
.mobile-seventh button {
  background: transparent;
  border: none;
  cursor: pointer;
  margin-top: 50px;
  position: relative;
}
.mobile-footer {
  margin-top: 50px;
  text-align: center;
}
.mobile-footer a {
  text-decoration: none;
  color: #ffffff;
  margin: 0 20px;
}
.change {
  transition: 0.5s;
}
.change.active {
  transition: 0.5s;
}

.wrapper1-title {
  font-weight: 800;
  font-size: 88px;
  line-height: 106px;
}
.wrapper1-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
}

.second-item__content.active {
  -webkit-animation: puff-in-center 0.7s cubic-bezier(0.47, 0, 0.745, 0.715)
    both;
  animation: puff-in-center 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) both;
}
.second-item__content {
  -webkit-animation: puff-out-center 1s cubic-bezier(0.165, 0.84, 0.44, 1) both;
  animation: puff-out-center 1s cubic-bezier(0.165, 0.84, 0.44, 1) both;
}
@-webkit-keyframes puff-in-center {
  0% {
    -webkit-transform: scale(2);
    transform: scale(2);
    -webkit-filter: blur(4px);
    filter: blur(4px);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}
@keyframes puff-in-center {
  0% {
    -webkit-transform: scale(2);
    transform: scale(2);
    -webkit-filter: blur(4px);
    filter: blur(4px);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}
@-webkit-keyframes puff-out-center {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(2);
    transform: scale(2);
    -webkit-filter: blur(4px);
    filter: blur(4px);
    opacity: 0;
  }
}
@keyframes puff-out-center {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(2);
    transform: scale(2);
    -webkit-filter: blur(4px);
    filter: blur(4px);
    opacity: 0;
  }
}

@media screen and (max-width: 1240px) {
  .header-nav {
    padding: 18px 70px;
  }
  .container {
    padding: 18px 70px;
    padding-top: 55px;
  }
  .navigation {
    /* margin-left: 70px; */
  }
}

@media screen and (max-width: 1024px) {
  .header-nav {
    display: none;
  }
  .burger {
    display: block;
  }
}
@media screen and (max-width: 720px) {
  body {
    height: 100%;
  }
  .navigation {
    display: none;
  }
  .content-item {
    position: relative !important;
  }
  /* .container {
    display: none;
  } */
  .mobile-container {
    display: block;
  }
  video {
    width: 70%;
    text-align: center;
  }
}

/* content-item */

.content-item {
  width: 90%;
  height: 100%;
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 30%;
  opacity: 0;
  transition: 0.5s;
  z-index: 1;
}
.content-item.white {
  width: 95%;
  height: 100%;
  top: 20%;
  padding-top: 100px;
  position: absolute;
  padding-left: 12%;
  left: 0;
  background-color: #ffffff;
  margin-left: 0;
}
.content-item.white.last {
  width: 95%;
  height: 50%;
  top: 10%;
  padding-top: 100px;
  position: absolute;
  padding-left: 12%;
  left: 0;
  background-color: #ffffff;
  margin-left: 0;
}
.content-item.isActive {
  opacity: 1;
  -webkit-transition: all 0.5s ease 0.5s;
  transition: all 0.5s ease 0.5s;
  z-index: 998;
}
.content-item.hideDown {
  -webkit-transform: translateY(-15%);
  transform: translateY(-15%);
  opacity: 0;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.content-item.hideUp {
  -webkit-transform: translateY(15%);
  transform: translateY(15%);
  opacity: 0;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.content-item.down {
  -webkit-transform: translateY(15%);
  transform: translateY(15%);
  opacity: 0;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.content-item.up {
  -webkit-transform: translateY(-15%);
  transform: translateY(-15%);
  opacity: 0;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 998;
}
.sixth-item__doc.open img {
  position: fixed;
  width: 430px;
  margin-left: -215px;
  top: 10%;
  left: 50%;
  z-index: 999;
}
